<div class="row">
  <div class="offset1 span8">
    <div class="paddit">
  </div>
  <h1>This app crafted with care by the HipHype guys.</h1>
  <div class="paddit">
  </div>

  <div class="thumby">
    <%= image_tag 'josh.jpg' %>
  </div>
  <h1>Josh Sullivan (@jsullivandigs)</h2>
  <h2>josh@dipperstove.com</h2>
  <%= link_to "dipperstove.com", "http://dipperstove.com" %>

  <div class="paddit"></div>

  <div class="thumby">
    <%= image_tag 'gaurav.jpg' %>
  </div>


  <h1>Gaurav Maken</h2>
  <h2>gaurav.maken@gmail.com</h2>
  <div class="paddit" style="margin-top: 300px;">
  </div>
</div>
</div>
