<div class="row">
  <div class="span12">
    <div class="splash">
      <%= image_tag 'splash.png' %>
      <br />
      <button class="punch">Pimp my app</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="offset3 span6 offset3">
    <div class="tagline">
      <h2>
      You've put a lot of work into your hackathon app. Now what? It's time to pimp your app. Better yet, let us pimp it for you.
      </h2>
    </div>
  </div>
</div>
