/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
@import "bootstrap";

body {
  color: #fff;
  background: #46c7f4;
  margin-top: 40px;
}
img {
     max-width: 100%;
}

.btn-large{
  font-size: 20px;
  font-weight: normal;
  padding: 14px 24px;
  margin-right: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.splash {
  margin: 0 auto;
  margin-top: 128px;
  text-align: center;
}
.splash img {
  margin-bottom: 48px;
}

@import "bootstrap-responsive";
